@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800");
@import "tailwindcss";
@import "@radix-ui/themes/styles.css";

@theme {
    --font-funnel: "Funnel Display", sans-serif;
    --color-primary: #36a341;
    --color-primary-alfa-25: #36a34125;
    --color-primary-dark: #27512b;
    --color-primary-text: #192e27;
    --color-secondary-text: #38423e;
}

* {
    font-family: var(--font-funnel) !important;
}

.bg-glass {
    @apply bg-white/75 bg-clip-padding backdrop-filter backdrop-blur-lg border border-gray-100 shadow-md shadow-green-800/5;
}

.card {
    @apply bg-white border-gray-100 hover:border-gray-200 duration-300 rounded-lg border p-4 hover:-mt-2  hover:mb-2 hover:-ml-2  hover:mr-2 transition-all shadow-sm hover:shadow-lg shadow-green-900/10;
}
